aside.aside
	.aside__menu
		a.aside__link.active.text.text--sm-1(href="#")
			div
				include ../assets/image/icon/menu-connect.svg
			span Connect
		a.aside__link.text.text--sm-1(href="#")
			div
				include ../assets/image/icon/menu-chat.svg
			span Chat
		a.aside__link.text.text--sm-1(href="#")
			div
				include ../assets/image/icon/menu-wallet.svg
			span Wallet
		a.aside__link.text.text--sm-1(href="#")
			div
				include ../assets/image/icon/menu-save.svg
			span Save
	