aside.aside.aside--mobile
	.aside__mobile
		a.aside__link.text.text--xsm-2(href="#")
			div
				include ../assets/image/icon/menu-save.svg
			span Save
		a.aside__link.text.text--xsm-2(href="#")
			div
				include ../assets/image/icon/menu-wallet.svg
			span Wallet
		
		a.aside__link.active.aside__link--big.text.text--xsm-2(href="#")
			div
				include ../assets/image/icon/menu-connect-mobile.svg
			span Connect
		a.aside__link.text.text--xsm-2(href="#")
			div
				include ../assets/image/icon/menu-chat.svg
			span Chat
		a.aside__link.text.text--xsm-2(href="#")
			div
				include ../assets/image/icon/menu-profile.svg
			span Profile