.system-messages
	.system-message.system-message--success
		.system-message__content
			img(src="../assets/image/icon/system-success.svg", alt="Success")
			.system-message__text
				h5.text.text--md-2 Success message
				p.text.text--sm-2 Fugiat nulla incididunt voluptate aute.Magna qui in minim nostrud dolore labore est officia ut et. Excepteur pariatur officia sint ut consectetur nostrud. 
		button.system-message__close
			include ../assets/image/icon/close.svg
	.system-message.system-message--warning
		.system-message__content
			img(src="../assets/image/icon/system-warning.svg", alt="Warning")
			.system-message__text
				h5.text.text--md-2 Warning message
				p.text.text--sm-2 Culpa exercitation eu aliquip sunt officia 
		button.system-message__close
			include ../assets/image/icon/close.svg
	.system-message.system-message--error
		.system-message__content
			img(src="../assets/image/icon/system-error.svg", alt="Error")
			.system-message__text
				h5.text.text--md-2 Error message
				p.text.text--sm-2 Culpa exercitation eu aliquip sunt officia Nulla ea elit irure irure occaecat. Minim officia ut ut ea aute labore proident consequat aliquip laborum officia mollit incididunt. Voluptate magna quis ea dolor ipsum aliquip mollit nulla non minim. Dolor aute sit adipisicing ad anim deserunt velit labore velit esse id irure. Nostrud reprehenderit elit tempor nulla ipsum proident aute. Aute officia laboris adipisicing commodo officia qui eu. Incididunt in veniam do velit eiusmod sint eu voluptate id.
		button.system-message__close
			include ../assets/image/icon/close.svg