section.warning
	.warning__left
		div.warning__content
			include ../assets/image/icon/protected.svg
			span.warning--text.text.text--sm-2 Unlock all features.
		a(href='#').text.text--sm-2.button.button--text.warning__button Complete basic verification	
			
			
	button.button.warning__close(aria-label="Aria Name")
		include ../assets/image/icon/close.svg