.button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.8rem;
	-webkit-tap-highlight-color: transparent;
	-webkit-appearance: none;

	&--text {
		text-decoration: underline;

		&:hover {
			text-decoration: underline;
		}

		&:active {
			text-decoration: underline;
		}
	}
}
