.header {
	height: 5.6rem;

	border-bottom: 0.1rem solid $background-secondary-default;
	background: $background-primary-light-default;

	display: flex;
	justify-content: center;

	align-items: center;
	gap: 3.2rem;

	&__container {
		flex-grow: 1;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 3.2rem;
		padding: 0 0 0 4.8rem;

		@media (max-width: 1439px) {
			padding: 0;
		}

		@media (max-width: 599px) {
			justify-content: center;
			padding: 0;
		}
	}

	&__logo {
		width: 17.2rem;
		height: 3.2rem;
		padding: 0.4rem 0;
		-webkit-tap-highlight-color: transparent;
		-webkit-appearance: none;

		@media (max-width: 599px) {
			text-align: center;
		}

		& > svg {
			width: auto;
			height: 2.4rem;

			& > path {
				fill: #3278cb;
			}
		}
	}

	&__menu {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 2.4rem;

		@media (max-width: 599px) {
			display: none;
		}
	}

	&__notification {
		width: 3.2rem;
		height: 3.2rem;
		padding: 0.4rem;

		position: relative;

		display: flex;
		justify-content: center;
		align-items: center;

		-webkit-tap-highlight-color: transparent;
		-webkit-appearance: none;

		& > svg {
			width: 2.4rem;
			height: 2.4rem;
			& > path {
				fill: $color-secondary-default;
				transition: all 0.3s linear;
			}
		}

		& > .popup--notification {
			display: none;
		}

		&.active {
			& > svg {
				width: 2.4rem;
				height: 2.4rem;
				& > path {
					fill: $color-accent-default;
					transition: all 0.3s linear;
				}
			}

			& > .popup--notification {
				display: block;
			}
		}

		&:hover {
			& > svg {
				& > path {
					fill: $color-accent-hover;
				}
			}
		}

		&:active {
			& > svg {
				& > path {
					fill: $color-accent-pressed;
				}
			}
		}
	}

	&__profile {
		height: 3.2rem;
		display: flex;
		justify-content: flex-end;
		align-items: center;

		position: relative;
		z-index: 10;

		-webkit-tap-highlight-color: transparent;
		-webkit-appearance: none;

		& > img {
			height: 3.2rem;
			width: 3.2rem;
			border-radius: 50%;
			object-fit: cover;
			object-position: center center;
			border: 2px solid transparent;
			background: $color-accent-default;
		}

		& > svg {
			width: 2.4rem;
			height: 2.4rem;
			transform: rotate(90deg);

			transition: all 0.3s linear;

			& > path {
				fill: $color-secondary-default;
				transition: all 0.3s linear;
			}
		}

		&:hover {
			& > img {
				border-color: $background-accent-hover;
			}

			& > svg {
				& > path {
					fill: $color-accent-hover;
				}
			}
		}

		&:active {
			& > svg {
				& > path {
					fill: $color-accent-pressed;
				}
			}
		}

		& > .header__popup {
			display: none;
		}

		&.active {
			& > svg {
				transform: rotate(-90deg);
			}

			& > .header__popup {
				display: block;
			}
		}
	}
}
