/* Breakpoints */
$breakpoint-xsm: 599px;
$breakpoint-sm: 904px;
$breakpoint-md: 1239px;
$breakpoint-lg: 1439px;

/* Color */

/* Misc */
$px-1: 4px;
$px-2: 8px;
$px-3: 12px;
$px-4: 16px;
$px-5: 24px;
$px-6: 32px;
$px-7: 48px;
$px-8: 64px;
