@import './misc/reset.scss';
@import './misc/variables.scss';
@import './misc/font.scss';
@import './component/typography.scss';

html {
	font-size: 62.5%;
	height: 100%;
}

body {
	font-family: $fontFamily;
	font-size: 1.6rem;
	-webkit-text-size-adjust: none;

	background: $background-primary-light-default;

	height: 100%;
}

.container {
	max-width: 129.6rem;
	margin: 0 auto;

	@media (max-width: 2047px) {
		max-width: 104rem;
	}

	@media (max-width: 1439px) {
		max-width: 100%;
		margin: 0 20rem;
	}

	@media (max-width: 1239px) {
		margin: 0 auto;
		max-width: 84rem;
	}

	@media (max-width: 904px) {
		margin: 0 3.2rem;
		max-width: 100%;
	}

	@media (max-width: 599px) {
		margin: 0 1.6rem;
	}
}

.wrapper {
	height: 100%;
	overflow: hidden;
}

.content {
	height: calc(100% - 5.6rem);

	display: grid;
	grid-template-columns: 25.6rem 1fr;
	gap: 3.2rem;

	@media (max-width: 1439px) {
		display: flex;
		flex-direction: column-reverse;
		gap: 0px;
		justify-content: flex-start;
		align-items: flex-start;
	}

	@media (max-width: 599px) {
		height: calc(100% - 5.6rem - 8.8rem);
	}
}

.warning ~ .content {
	height: calc(100% - 5.6rem - 3rem);

	@media (max-width: 599px) {
		height: calc(100% - 8.8rem - 5.7rem - 5.7rem);
	}
}

.divider {
	border-bottom: 0.1rem solid $background-tertiary-default;
	margin: 0.8rem 0;
}

.main {
	padding-top: 2.4rem;
	width: 100%;
	height: 100%;

	overflow-y: scroll;

	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

@import './component/typography.scss';
@import './component/button.scss';
@import './component/header.scss';
@import './component/aside.scss';
@import './component/warning.scss';
@import './component/popup.scss';
@import './component/loader.scss';
@import './component/system-message.scss';
